<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register // Sign In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>. Greenery .</h1>
        </div>

        {% for message in messages %}    
        <li>{{ message }}</li>    
        {% endfor %}

        <div class="signin">
            <h1>Register</h1>
            <form action="/register" method="POST">
                {% csrf_token%}
                <table>
                    <tr>
                        <th>First Name</th>
                        <td><input type="text" name="fname"></td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td><input type="text" name="lname"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="password" name="pw"></td>
                    </tr>
                    <tr>
                        <th>Confirm PW</th>
                        <td><input type="password" name="confpw"></td>
                    </tr>
                </table>
                <br><input type="submit" name="Register"></td>
            </form>
        </div>

        <div class="signin">
            <h1>Login</h1>
            <form action="/login" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Email</th>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <th>password</th>
                        <td><input type="password" name="pw"></td>
                    </tr>
                </table>
                <br><input type="submit" name="Log In">
            </form>
        </div>
    </div>
</body>
</html>